<div class="sidebar-wrap">
    <mat-nav-list role="list" class="sitebar-container">
        <mat-list-item class="center" role="listitem" *ngFor="let feature of features" (click)="navigateTo(feature)">
            {{feature.name | translate}}
        </mat-list-item>
        <!-- <mat-list-item class="center" (click)="openSettingDialog()">
        <mat-icon>brightness_low</mat-icon>Setting
    </mat-list-item> -->
    </mat-nav-list>
    <mat-divider></mat-divider>
    <span class="fill-content"></span>
    <mat-nav-list role="list" class="sitebar-container">
        <mat-list-item class="center" (click)="openSettingDialog()">
            <mat-icon>brightness_low</mat-icon>
            {{'setting' | translate}}
        </mat-list-item>
    </mat-nav-list>
</div>