.sitebar-container {
  //   width: 20vh;
}

.custom-tips {
  width: 300px;
  height: 150px;
}

.sidebar-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fill-content {
  flex: auto;
}
