<div class="message-dialog-container">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let element">
                    {{element.id}}
                </td>
            </ng-container>

            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef> Level </th>
                <td mat-cell *matCellDef="let element">
                    <!-- {{messageLevel[element.level]}} -->
                    <span [ngSwitch]="element.level">
                        <mat-icon color="warn" matTooltip="{{messageLevel[element.level]}}" *ngSwitchCase="0">error</mat-icon>
                        <mat-icon color="warn" matTooltip="{{messageLevel[element.level]}}" *ngSwitchCase="1">warning</mat-icon>
                        <mat-icon color="primary" matTooltip="{{messageLevel[element.level]}}" *ngSwitchCase="2">info</mat-icon>
                        <mat-icon color="accent" matTooltip="{{messageLevel[element.level]}}" *ngSwitchCase="3">bug_report</mat-icon>
                    </span>
                </td>
            </ng-container>

            <!-- message Column -->
            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef> Message </th>
                <td mat-cell *matCellDef="let element">
                    {{element.message}}
                </td>
            </ng-container>

            <!-- redirect Column -->
            <ng-container matColumnDef="redirect">
                <th mat-header-cell *matHeaderCellDef> Redirect </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="[ '/dashboard','dashboard', element.extraData ]" routerLinkActive="active"
                        (click)="close()">GO</a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>
</div>