<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                <mat-error *ngIf="firstFormGroup.controls.firstCtrl.status == 'INVALID'">*Name at least 6 length.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Choose a date" [satDatepicker]="picker" [value]="date">
                <sat-datepicker #picker [rangeMode]="true" [closeAfterSelection]="false"></sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext matTooltip="Next step" [matTooltipShowDelay]="1000">Next</button>
            </div>

        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
                <mat-error *ngIf="secondFormGroup.controls.secondCtrl.errors?.overlength">Over length 5</mat-error>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>