<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" cdkDropListGroup>

    <mat-toolbar color="primary" class="example-toolbar">

        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">{{'title' | translate }}</h1>
        <span class="fill-remaining-space"></span>
        <div class="sitemenu-features">
            <mat-icon #messageBtn matBadge="22" matBadgeColor="warn" (click)="openMessageDialog()">message</mat-icon>
            <mat-icon #languageBtn (click)="openLangOption()">language</mat-icon>
            <mat-icon #personInfo (click)="openPersonInfo()">person</mat-icon>
        </div>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="56" fullscreen>

        <mat-sidenav #snav [mode]="over" [fixedInViewport]="true" fixedTopGap="56" (click)="snav.toggle()"
            [autoFocus]="false" class="sidenav-container">
            <app-sitebarfeatures></app-sitebarfeatures>
        </mat-sidenav>

        <mat-sidenav-content>

            <router-outlet></router-outlet>

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>

<ng-template #multipleLang>
    <mat-list role="list" class="optionLangTips">
        <mat-list-item class="center" role="listitem" [ngClass]="{'active-language': translate.currentLang == 'en'}"
            (click)="changeLang('en')">English</mat-list-item>
        <mat-list-item class="center" role="listitem"
            [ngClass]="{'active-language': translate.currentLang == 'zh-Hant-TW'}" (click)="changeLang('zh-Hant-TW')">
            繁體中文</mat-list-item>
    </mat-list>
</ng-template>

<ng-template #personInforTemp>
    <mat-list role="list" class="person-info-popup">
        <mat-list-item>
            <mat-icon matListIcon>person</mat-icon>
            <h3 matLine> Jerry </h3>
        </mat-list-item>
        <mat-list-item class="center">Logout</mat-list-item>
        <mat-list-item class="center">Message</mat-list-item>
        <mat-list-item class="center">Tips</mat-list-item>
    </mat-list>
</ng-template>