.area-chart-container {
  width: 100%;
  height: 100%;
}

.axis path,
.axis line {
  //   fill: none;
  stroke: #000;
  //   shape-rendering: crispEdges;
}

.focus text {
  text-anchor: end;
  fill: white;
}
.focus circle {
  fill: black;
  stroke: white;
}
.overlay {
  fill: none;
  pointer-events: all;
}

.area-tooltip-wrap {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: skyblue;
}
