/* You can add global styles to this file, and also import other style files */
// Import material theming functions
@import "~saturn-datepicker/_theming";

@font-face {
  font-family: custom-sans-serif;
  src: local("Tahoma"), local("Geneva"), local("sans-serif");
  unicode-range: U+00-024F;
}

@font-face {
  font-family: custom-sans-serif;
  src: local("微軟正黑體"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF;
}

$zh-TW-typography: mat-typography-config(
  $font-family: "custom-sans-serif",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

$en-typography: mat-typography-config(
  $font-family: "Tahoma, monospace, 微軟正黑體",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

[lang="zh-Hant-TW"] {
  @include mat-core($zh-TW-typography);
}

[lang="en"] {
  @include mat-core($en-typography);
}

// Define your application's custom theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

// Include theme styles for your custom components.
@include sat-datepicker-theme($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-list-item.center .mat-list-item-content {
  justify-content: center;
}

.noposition .cdk-virtual-scroll-content-wrapper {
  position: relative;
}
